In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("new_upper_down.csv")
data.head()

   AnalogValue  Density  Amplitude  Result
0          881      887       1.08       0
1          909      903       1.11       0
2          889      890       1.09       0
3          898      903       1.10       0
4          901      898       1.10       0

In [4]:
X = data.iloc[:, :-1]
y = data.iloc[:, -1]

In [5]:
X.head()

   AnalogValue  Density  Amplitude
0          881      887       1.08
1          909      903       1.11
2          889      890       1.09
3          898      903       1.10
4          901      898       1.10

In [6]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Result, dtype: int64

In [7]:
X = X.reset_index(drop = True)
X.tail()

      AnalogValue  Density  Amplitude
3995          971      972       1.19
3996          976      974       1.19
3997          988      989       1.21
3998          995      990       1.21
3999          987      977       1.21

In [8]:
y = y.reset_index(drop = True)
y.tail()

3995    1
3996    1
3997    1
3998    1
3999    1
Name: Result, dtype: int64

In [9]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X = scaler.fit_transform(X)

In [10]:
# from keras.utils import to_categorical
# y = to_categorical(y)
# print(y.shape)

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [12]:
# from sklearn.preprocessing import MinMaxScaler

# # Create an instance of the MinMaxScaler
# scaler = MinMaxScaler()

# # Fit the scaler on your training data
# scaler.fit(X_train)

# # Apply the scaling transformation to your training data
# X_train_scaled = scaler.transform(X_train)

# # Apply the same scaling transformation to your test data
# X_test_scaled = scaler.transform(X_test)

In [13]:
# # from keras.utils import to_categorical
# from keras.utils import to_categorical

# # Convert y_train to one-hot encoded format
# y_train = to_categorical(y_train)
# y_test = to_categorical(y_test)

# # Check the shape
# print(y_train.shape)

In [14]:
print("Shape of the X_train:", X_train.shape)
print("Shape of the y_train:", y_train.shape)
print("Shape of the X_test:", X_test.shape)
print("Shape of the y_test:", y_test.shape)

Shape of the X_train: (3200, 3)
Shape of the y_train: (3200,)
Shape of the X_test: (800, 3)
Shape of the y_test: (800,)

In [15]:

X_train = np.reshape(X_train, (X_train.shape[0], X_train.shape[1], 1))
X_test = np.reshape(X_test, (X_test.shape[0], X_test.shape[1], 1))

In [16]:
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dropout, Dense, Conv1D
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.losses import BinaryCrossentropy

model = Sequential()
model.add(Conv1D(filters=32, kernel_size=3, activation='relu', input_shape=(3,1)))

# model.add(Conv1D(filters=32, kernel_size=3, activation='relu'))

model.add(LSTM(units=64, return_sequences=True))
model.add(Dropout(0.2))

model.add(LSTM(units=64, return_sequences=True))
model.add(Dropout(0.2))

model.add(Dense(units=128, activation='relu'))

model.add(Dense(units=64, activation='relu'))

model.add(Dense(units=1, activation='sigmoid'))

model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv1d (Conv1D)             (None, 1, 32)             128

 lstm (LSTM)                 (None, 1, 64)             24832

 dropout (Dropout)           (None, 1, 64)             0

 lstm_1 (LSTM)               (None, 1, 64)             33024

 dropout_1 (Dropout)         (None, 1, 64)             0

 dense (Dense)               (None, 1, 128)            8320

 dense_1 (Dense)             (None, 1, 64)             8256

 dense_2 (Dense)             (None, 1, 1)              65

=================================================================
Total params: 74,625
Trainable params: 74,625
Non-trainable params: 0
_________________________________________________________________

In [17]:
from keras.callbacks import EarlyStopping

# Create the EarlyStopping callback
early_stopping = EarlyStopping(monitor='accuracy', patience=5)

In [18]:
model.fit(X_train , y_train, epochs = 20)

Epoch 1/20
100/100 [==============================] - 6s 5ms/step - loss: 0.6871 - accuracy: 0.5547
Epoch 2/20
100/100 [==============================] - 0s 5ms/step - loss: 0.6366 - accuracy: 0.5987
Epoch 3/20
100/100 [==============================] - 1s 5ms/step - loss: 0.6209 - accuracy: 0.6028
Epoch 4/20
100/100 [==============================] - 0s 5ms/step - loss: 0.6182 - accuracy: 0.6059
Epoch 5/20
100/100 [==============================] - 1s 5ms/step - loss: 0.6142 - accuracy: 0.6144
Epoch 6/20
100/100 [==============================] - 1s 5ms/step - loss: 0.6029 - accuracy: 0.6212
Epoch 7/20
100/100 [==============================] - 1s 5ms/step - loss: 0.5938 - accuracy: 0.6200
Epoch 8/20
100/100 [==============================] - 1s 5ms/step - loss: 0.5909 - accuracy: 0.6247
Epoch 9/20
100/100 [==============================] - 1s 5ms/step - loss: 0.5851 - accuracy: 0.6181
Epoch 10/20
100/100 [==============================] - 1s 5ms/step - loss: 0.5804 - accuracy: 0.6119
Epoch 11/20
100/100 [==============================] - 1s 5ms/step - loss: 0.5799 - accuracy: 0.6275
Epoch 12/20
100/100 [==============================] - 0s 5ms/step - loss: 0.5798 - accuracy: 0.6150
Epoch 13/20
100/100 [==============================] - 1s 6ms/step - loss: 0.5702 - accuracy: 0.6291
Epoch 14/20
100/100 [==============================] - 1s 5ms/step - loss: 0.5760 - accuracy: 0.6187
Epoch 15/20
100/100 [==============================] - 1s 5ms/step - loss: 0.5785 - accuracy: 0.6241
Epoch 16/20
100/100 [==============================] - 0s 5ms/step - loss: 0.5770 - accuracy: 0.6272
Epoch 17/20
100/100 [==============================] - 1s 5ms/step - loss: 0.5752 - accuracy: 0.6269
Epoch 18/20
100/100 [==============================] - 1s 5ms/step - loss: 0.5629 - accuracy: 0.6416
Epoch 19/20
100/100 [==============================] - 1s 5ms/step - loss: 0.5700 - accuracy: 0.6263
Epoch 20/20
100/100 [==============================] - 1s 5ms/step - loss: 0.5652 - accuracy: 0.6306

In [127]:
model.evaluate(X_test, y_test)

2/2 [==============================] - 2s 10ms/step - loss: 0.0307 - accuracy: 1.0000

[0.030726373195648193, 1.0]

In [126]:
y_test

90     0
72     0
155    1
134    1
128    1
105    1
77     0
75     0
58     0
76     0
102    1
97     0
70     0
52     0
36     0
43     0
18     0
94     0
103    1
31     0
171    1
69     0
67     0
64     0
12     0
47     0
121    1
126    1
10     0
141    1
148    1
85     0
143    1
33     0
116    1
101    1
39     0
162    1
44     0
154    1
Name: Result, dtype: int64

In [82]:
import numpy as np

# Assuming y_pred contains the predicted values
y_pred_binary = np.argmax(y_pred, axis=1)
# predicted_labels_original = np.argmax(y_pred_binary, axis=1)

# Print the binary predictions
print(y_pred_binary)

[[0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]]

In [52]:
y_test.shape

(40, 1, 2)

In [55]:
y_pred_binary.shape

(40, 2)

In [54]:
y_test = y_test[:, 0]
y_test.shape

(40, 2)

In [56]:
y_pred_binary

array([[0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0]], dtype=int64)

In [57]:
y_test

array([[1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.]], dtype=float32)

In [ ]:
y_test = y_test.astype("int64")

In [ ]:
y_test

In [ ]:
import numpy as np
from sklearn.metrics import accuracy_score, confusion_matrix

# Reshape y_test
# y_test_reshaped = np.reshape(y_test, (y_test.shape[0], y_test.shape[2]))

# Convert y_pred_binary to 1D array
# predicted_labels = np.squeeze(y_pred_binary)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred_binary)
print("Accuracy:", accuracy)

# Compute confusion matrix
cm = confusion_matrix(y_test, y_pred_binary)
print("Confusion Matrix:")
print(cm)

In [ ]:
rig_lef = pd.read_csv("left1.csv")

In [ ]:
rig_lef.head()

In [ ]:
rig_lef = rig_lef.drop("Unnamed: 0", axis = 1)
rig_lef.head()

In [ ]:
X = rig_lef.iloc[50:60, :-1]
X.head()

In [ ]:
X = X.reset_index(drop= True)
X.head()

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X = scaler.fit_transform(X)

In [ ]:
print(X.shape)

In [ ]:
X = np.reshape(X, (X.shape[0], X.shape[1], 1))
X.shape

In [ ]:
y_pred = model.predict(X)

In [ ]:
y_pred_binary = np.argmax(y_pred, axis=2)

# Print the binary predictions
print(y_pred_binary)