In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("Single_data.csv")
data.head()

   Unnamed: 0  AnalogValue  Density  Amplitude  Result
0           0          587      579       0.72       0
1           1          589      592       0.72       0
2           2          605      603       0.74       0
3           3          624      627       0.76       0
4           4          622      622       0.76       0

In [3]:
data = data.drop("Unnamed: 0", axis = 1)
data.head()

   AnalogValue  Density  Amplitude  Result
0          587      579       0.72       0
1          589      592       0.72       0
2          605      603       0.74       0
3          624      627       0.76       0
4          622      622       0.76       0

In [4]:
data.tail()

     AnalogValue  Density  Amplitude  Result
395          656      663       0.80       3
396          671      672       0.82       3
397          675      669       0.82       3
398          678      676       0.83       3
399          677      679       0.83       3

In [5]:
X = data.iloc[:, :-1]
y = data.iloc[:, -1]
X.head()

   AnalogValue  Density  Amplitude
0          587      579       0.72
1          589      592       0.72
2          605      603       0.74
3          624      627       0.76
4          622      622       0.76

In [6]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Result, dtype: int64

In [7]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X = scaler.fit_transform(X)

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [9]:
# from keras.utils import to_categorical
from keras.utils import to_categorical

# Convert y_train to one-hot encoded format
y_train = to_categorical(y_train)
y_test = to_categorical(y_test)

# Check the shape
print(y_train.shape)

(320, 4)

In [11]:
print("The shape of X_train", X_train.shape)
print("The shape of y_train", y_train.shape)

The shape of X_train (320, 3)
The shape of y_train (320, 4)

In [13]:

X_train = np.reshape(X_train, (X_train.shape[0], X_train.shape[1], 1))
X_test = np.reshape(X_test, (X_test.shape[0], X_test.shape[1], 1))

In [14]:
print("The shape of X_train", X_train.shape)
print("The shape of y_train", y_train.shape)

The shape of X_train (320, 3, 1)
The shape of y_train (320, 4)

In [15]:

y_train = np.reshape(y_train, (y_train.shape[0], 1, y_train.shape[1]))

y_test = np.reshape(y_test, (y_test.shape[0], 1, y_test.shape[1]))

In [16]:
print("the shape of y_train:", y_train.shape)
print("the shape of y_test:", y_test.shape)

the shape of y_train: (320, 1, 4)
the shape of y_test: (80, 1, 4)

In [20]:
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dropout, Dense, Conv1D

model = Sequential()
model.add(Conv1D(filters=32, kernel_size=3, activation='relu', input_shape=(3, 1)))

# model.add(Conv1D(filters=32, kernel_size=3, activation='relu'))

model.add(LSTM(units=64, return_sequences=True))
model.add(Dropout(0.3))

model.add(LSTM(units=64, return_sequences=True))
model.add(Dropout(0.3))

model.add(Dense(units=128, activation='relu'))

model.add(Dense(units=64, activation='relu'))

model.add(Dense(units=4, activation='softmax'))

model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv1d_1 (Conv1D)           (None, 1, 32)             128

 lstm_2 (LSTM)               (None, 1, 64)             24832

 dropout_2 (Dropout)         (None, 1, 64)             0

 lstm_3 (LSTM)               (None, 1, 64)             33024

 dropout_3 (Dropout)         (None, 1, 64)             0

 dense_3 (Dense)             (None, 1, 128)            8320

 dense_4 (Dense)             (None, 1, 64)             8256

 dense_5 (Dense)             (None, 1, 4)              260

=================================================================
Total params: 74,820
Trainable params: 74,820
Non-trainable params: 0
_________________________________________________________________

In [21]:
from keras.callbacks import EarlyStopping

# Create the EarlyStopping callback
early_stopping = EarlyStopping(monitor='accuracy', patience=5)

In [23]:
model.fit(X_train , y_train, epochs = 100, callbacks = [early_stopping])

Epoch 1/100
10/10 [==============================] - 0s 6ms/step - loss: 0.4642 - accuracy: 0.7719
Epoch 2/100
10/10 [==============================] - 0s 6ms/step - loss: 0.4508 - accuracy: 0.7625
Epoch 3/100
10/10 [==============================] - 0s 6ms/step - loss: 0.4685 - accuracy: 0.7625
Epoch 4/100
10/10 [==============================] - 0s 5ms/step - loss: 0.4686 - accuracy: 0.7656
Epoch 5/100
10/10 [==============================] - 0s 6ms/step - loss: 0.4660 - accuracy: 0.7625
Epoch 6/100
10/10 [==============================] - 0s 6ms/step - loss: 0.4537 - accuracy: 0.7781
Epoch 7/100
10/10 [==============================] - 0s 6ms/step - loss: 0.4637 - accuracy: 0.7625
Epoch 8/100
10/10 [==============================] - 0s 6ms/step - loss: 0.4479 - accuracy: 0.7688
Epoch 9/100
10/10 [==============================] - 0s 6ms/step - loss: 0.4491 - accuracy: 0.7688
Epoch 10/100
10/10 [==============================] - 0s 6ms/step - loss: 0.4650 - accuracy: 0.7500
Epoch 11/100
10/10 [==============================] - 0s 7ms/step - loss: 0.4669 - accuracy: 0.7594