In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df0 = pd.read_csv("new_upper_down.csv")
df1 = pd.read_csv("new_right_left.csv")

In [4]:
df0.head()

   AnalogValue  Density  Amplitude  Result
0          881      887       1.08       0
1          909      903       1.11       0
2          889      890       1.09       0
3          898      903       1.10       0
4          901      898       1.10       0

In [5]:
df1.head()

   AnalogValue  Density  Amplitude  Result
0         1195     1194       1.46       0
1         1197     1198       1.46       0
2         1200     1211       1.47       0
3         1264     1265       1.54       0
4         1264     1264       1.54       0

In [7]:
df1['Result'] = df1['Result'].replace({0: 2, 1: 3})

In [8]:
df1.head()

   AnalogValue  Density  Amplitude  Result
0         1195     1194       1.46       2
1         1197     1198       1.46       2
2         1200     1211       1.47       2
3         1264     1265       1.54       2
4         1264     1264       1.54       2

In [9]:
data = pd.concat([df0, df1])
data.tail()

      AnalogValue  Density  Amplitude  Result
3995          990      987       1.21       3
3996          970      975       1.18       3
3997          966      965       1.18       3
3998          961      964       1.17       3
3999          976      981       1.19       3

In [51]:
data.head()

   AnalogValue  Density  Amplitude  Result
0          881      887       1.08       0
1          909      903       1.11       0
2          889      890       1.09       0
3          898      903       1.10       0
4          901      898       1.10       0

In [52]:
# Separate features and target
features = data[["AnalogValue", "Density", "Amplitude"]]
target = data["Result"]

In [65]:
features.tail()

      AnalogValue  Density  Amplitude
3995          990      987       1.21
3996          970      975       1.18
3997          966      965       1.18
3998          961      964       1.17
3999          976      981       1.19

In [67]:
target.head()

0    0
1    0
2    0
3    0
4    0
Name: Result, dtype: int64

In [55]:
# Perform one-hot encoding
target_encoded = pd.get_dummies(target)

In [56]:
from sklearn.model_selection import train_test_split

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

In [57]:
print("Shape of the X_train:", X_train.shape)
print("Shape of the y_train:", y_train.shape)
print("Shape of the X_test:", X_test.shape)
print("Shape of the y_test:", y_test.shape)

Shape of the X_train: (6400, 3)
Shape of the y_train: (6400,)
Shape of the X_test: (1600, 3)
Shape of the y_test: (1600,)

In [58]:
from sklearn.preprocessing import StandardScaler

# Create a scaler object
scaler = StandardScaler()

# Fit the scaler on the training features and transform the features
X_train = scaler.fit_transform(X_train)

# Transform the testing features using the fitted scaler
X_test = scaler.transform(X_test)

In [59]:

X_train = np.reshape(X_train, (X_train.shape[0], X_train.shape[1], 1))
X_test = np.reshape(X_test, (X_test.shape[0], X_test.shape[1], 1))

In [60]:
print("Shape of the X_train:", X_train.shape)
print("Shape of the y_train:", y_train.shape)
print("Shape of the X_test:", X_test.shape)
print("Shape of the y_test:", y_test.shape)

Shape of the X_train: (6400, 3, 1)
Shape of the y_train: (6400,)
Shape of the X_test: (1600, 3, 1)
Shape of the y_test: (1600,)

In [50]:
y_train = np.reshape(y_train, (y_train.shape[0], 1,y_train.shape[1] ))

y_test = np.reshape(y_test, (y_test.shape[0], 1,y_test.shape[1] ))

IndexError: tuple index out of range

In [40]:
print("Shape of the X_train:", X_train.shape)
print("Shape of the y_train:", y_train.shape)
print("Shape of the X_test:", X_test.shape)
print("Shape of the y_test:", y_test.shape)

Shape of the X_train: (6400, 3)
Shape of the y_train: (6400,)
Shape of the X_test: (1600, 3)
Shape of the y_test: (1600,)

In [21]:


y_train = np.reshape(y_train, (y_train.shape[0], 1, y_train.shape[1]))

y_test = np.reshape(y_test, (y_test.shape[0], 1, y_test.shape[1]))

In [22]:
print("Shape of the X_train:", X_train.shape)
print("Shape of the y_train:", y_train.shape)
print("Shape of the X_test:", X_test.shape)
print("Shape of the y_test:", y_test.shape)

Shape of the X_train: (6400, 3, 1)
Shape of the y_train: (6400, 1, 4)
Shape of the X_test: (1600, 3, 1)
Shape of the y_test: (1600, 1, 4)

In [23]:
from keras.callbacks import EarlyStopping

# Create the EarlyStopping callback
early_stopping = EarlyStopping(monitor='accuracy', patience=5)

In [63]:
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dropout, Dense, Conv1D
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.losses import BinaryCrossentropy

my_model = Sequential()
my_model.add(Conv1D(filters=32, kernel_size=3, activation='relu', input_shape=(3,1)))

# model.add(Conv1D(filters=32, kernel_size=3, activation='relu'))

my_model.add(LSTM(units=64, return_sequences=True))
my_model.add(Dropout(0.2))

my_model.add(LSTM(units=64, return_sequences=True))
my_model.add(Dropout(0.2))

my_model.add(Dense(units=128, activation='relu'))

my_model.add(Dense(units=64, activation='relu'))

my_model.add(Dense(units=1, activation='sigmoid'))

my_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

my_model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv1d_3 (Conv1D)           (None, 1, 32)             128

 lstm_8 (LSTM)               (None, 1, 64)             24832

 dropout_8 (Dropout)         (None, 1, 64)             0

 lstm_9 (LSTM)               (None, 1, 64)             33024

 dropout_9 (Dropout)         (None, 1, 64)             0

 dense_9 (Dense)             (None, 1, 128)            8320

 dense_10 (Dense)            (None, 1, 64)             8256

 dense_11 (Dense)            (None, 1, 1)              65

=================================================================
Total params: 74,625
Trainable params: 74,625
Non-trainable params: 0
_________________________________________________________________

In [64]:
my_model.fit(X_train , y_train, epochs = 20)

Epoch 1/20
200/200 [==============================] - 8s 6ms/step - loss: -5.8910 - accuracy: 0.2537
Epoch 2/20
200/200 [==============================] - 1s 6ms/step - loss: -7.6961 - accuracy: 0.2533
Epoch 3/20
200/200 [==============================] - 1s 6ms/step - loss: -7.6961 - accuracy: 0.2533
Epoch 4/20
200/200 [==============================] - 1s 6ms/step - loss: -7.6961 - accuracy: 0.2533
Epoch 5/20
200/200 [==============================] - 1s 6ms/step - loss: -7.6961 - accuracy: 0.2533
Epoch 6/20
200/200 [==============================] - 1s 6ms/step - loss: -7.6961 - accuracy: 0.2533
Epoch 7/20
200/200 [==============================] - 1s 6ms/step - loss: -7.6961 - accuracy: 0.2533
Epoch 8/20
200/200 [==============================] - 1s 6ms/step - loss: -7.6961 - accuracy: 0.2533
Epoch 9/20
200/200 [==============================] - 1s 7ms/step - loss: -7.6961 - accuracy: 0.2533
Epoch 10/20
200/200 [==============================] - 1s 7ms/step - loss: -7.6961 - accuracy: 0.2533
Epoch 11/20
200/200 [==============================] - 1s 7ms/step - loss: -7.6961 - accuracy: 0.2533
Epoch 12/20
200/200 [==============================] - 1s 7ms/step - loss: -7.6961 - accuracy: 0.2533
Epoch 13/20
200/200 [==============================] - 4s 22ms/step - loss: -7.6961 - accuracy: 0.2533
Epoch 14/20
200/200 [==============================] - 5s 25ms/step - loss: -7.6961 - accuracy: 0.2533
Epoch 15/20
200/200 [==============================] - 5s 25ms/step - loss: -7.6961 - accuracy: 0.2533
Epoch 16/20
200/200 [==============================] - 5s 24ms/step - loss: -7.6961 - accuracy: 0.2533
Epoch 17/20
200/200 [==============================] - 4s 22ms/step - loss: -7.6961 - accuracy: 0.2533
Epoch 18/20
200/200 [==============================] - 4s 19ms/step - loss: -7.6961 - accuracy: 0.2533
Epoch 19/20
200/200 [==============================] - 4s 19ms/step - loss: -7.6961 - accuracy: 0.2533
Epoch 20/20
200/200 [==============================] - 3s 16ms/step - loss: -7.6961 - accuracy: 0.2533