In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df0 = pd.read_csv("new_upper_down.csv")
df1 = pd.read_csv("new_right_left.csv")

In [4]:
df0.head()

   AnalogValue  Density  Amplitude  Result
0          881      887       1.08       0
1          909      903       1.11       0
2          889      890       1.09       0
3          898      903       1.10       0
4          901      898       1.10       0

In [5]:
df1.head()

   AnalogValue  Density  Amplitude  Result
0         1195     1194       1.46       0
1         1197     1198       1.46       0
2         1200     1211       1.47       0
3         1264     1265       1.54       0
4         1264     1264       1.54       0

In [7]:
df1['Result'] = df1['Result'].replace({0: 2, 1: 3})

In [8]:
df1.head()

   AnalogValue  Density  Amplitude  Result
0         1195     1194       1.46       2
1         1197     1198       1.46       2
2         1200     1211       1.47       2
3         1264     1265       1.54       2
4         1264     1264       1.54       2

In [9]:
data = pd.concat([df0, df1])
data.tail()

      AnalogValue  Density  Amplitude  Result
3995          990      987       1.21       3
3996          970      975       1.18       3
3997          966      965       1.18       3
3998          961      964       1.17       3
3999          976      981       1.19       3

In [29]:
data.head()

   AnalogValue  Density  Amplitude  Result
0          881      887       1.08       0
1          909      903       1.11       0
2          889      890       1.09       0
3          898      903       1.10       0
4          901      898       1.10       0

In [31]:
# Separate features and target
features = data[["AnalogValue", "Density", "Amplitude"]]
target = data["Result"]

In [33]:
features.tail()

      AnalogValue  Density  Amplitude
3995          990      987       1.21
3996          970      975       1.18
3997          966      965       1.18
3998          961      964       1.17
3999          976      981       1.19

In [34]:
target.tail()

3995    3
3996    3
3997    3
3998    3
3999    3
Name: Result, dtype: int64

In [35]:
from sklearn.model_selection import train_test_split

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

In [36]:
print("Shape of the X_train:", X_train.shape)
print("Shape of the y_train:", y_train.shape)
print("Shape of the X_test:", X_test.shape)
print("Shape of the y_test:", y_test.shape)

Shape of the X_train: (6400, 3)
Shape of the y_train: (6400,)
Shape of the X_test: (1600, 3)
Shape of the y_test: (1600,)

In [37]:
from sklearn.preprocessing import StandardScaler

# Create a scaler object
scaler = StandardScaler()

# Fit the scaler on the training features and transform the features
X_train_scaled = scaler.fit_transform(X_train)

# Transform the testing features using the fitted scaler
X_test_scaled = scaler.transform(X_test)

In [38]:

X_train_scaled = np.reshape(X_train_scaled, (X_train_scaled.shape[0], X_train_scaled.shape[1], 1))
X_test_scaled = np.reshape(X_test_scaled, (X_test_scaled.shape[0], X_test_scaled.shape[1], 1))

In [19]:

X_train = np.reshape(X_train, (X_train.shape[0], X_train.shape[1], 1))
X_test = np.reshape(X_test, (X_test.shape[0], X_test.shape[1], 1))

In [20]:
print("Shape of the X_train:", X_train.shape)
print("Shape of the y_train:", y_train.shape)
print("Shape of the X_test:", X_test.shape)
print("Shape of the y_test:", y_test.shape)

Shape of the X_train: (6400, 3, 1)
Shape of the y_train: (6400, 4)
Shape of the X_test: (1600, 3, 1)
Shape of the y_test: (1600, 4)

In [21]:


y_train = np.reshape(y_train, (y_train.shape[0], 1, y_train.shape[1]))

y_test = np.reshape(y_test, (y_test.shape[0], 1, y_test.shape[1]))

In [22]:
print("Shape of the X_train:", X_train.shape)
print("Shape of the y_train:", y_train.shape)
print("Shape of the X_test:", X_test.shape)
print("Shape of the y_test:", y_test.shape)

Shape of the X_train: (6400, 3, 1)
Shape of the y_train: (6400, 1, 4)
Shape of the X_test: (1600, 3, 1)
Shape of the y_test: (1600, 1, 4)

In [23]:
from keras.callbacks import EarlyStopping

# Create the EarlyStopping callback
early_stopping = EarlyStopping(monitor='accuracy', patience=5)

In [27]:
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dropout, Dense, Conv1D
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.losses import CategoricalCrossentropy

my_model = Sequential()
my_model.add(Conv1D(filters=32, kernel_size=3, activation='relu', input_shape=(3,1)))

my_model.add(LSTM(units=64, return_sequences=True))
my_model.add(Dropout(0.2))

my_model.add(LSTM(units=64, return_sequences=True))
my_model.add(Dropout(0.2))

my_model.add(LSTM(units=64, return_sequences=True))
my_model.add(Dropout(0.2))

my_model.add(Dense(units=128, activation='relu'))

my_model.add(Dense(units=64, activation='relu'))

my_model.add(Dense(units=4, activation='softmax'))  # Change units to the number of classes

my_model.compile(loss=CategoricalCrossentropy(), optimizer='adam', metrics=['accuracy'])

my_model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv1d_1 (Conv1D)           (None, 1, 32)             128

 lstm_2 (LSTM)               (None, 1, 64)             24832

 dropout_2 (Dropout)         (None, 1, 64)             0

 lstm_3 (LSTM)               (None, 1, 64)             33024

 dropout_3 (Dropout)         (None, 1, 64)             0

 lstm_4 (LSTM)               (None, 1, 64)             33024

 dropout_4 (Dropout)         (None, 1, 64)             0

 dense_3 (Dense)             (None, 1, 128)            8320

 dense_4 (Dense)             (None, 1, 64)             8256

 dense_5 (Dense)             (None, 1, 4)              260

=================================================================
Total params: 107,844
Trainable params: 107,844
Non-trainable params: 0
_________________________________________________________________

In [28]:
my_model.fit(X_train , y_train, epochs = 20)

Epoch 1/20
200/200 [==============================] - 14s 13ms/step - loss: 1.3859 - accuracy: 0.2567
Epoch 2/20
200/200 [==============================] - 3s 13ms/step - loss: 1.2471 - accuracy: 0.4078
Epoch 3/20
200/200 [==============================] - 2s 12ms/step - loss: 1.1755 - accuracy: 0.4548
Epoch 4/20
200/200 [==============================] - 2s 12ms/step - loss: 1.1608 - accuracy: 0.4645
Epoch 5/20
200/200 [==============================] - 2s 9ms/step - loss: 1.1473 - accuracy: 0.4700
Epoch 6/20
200/200 [==============================] - 2s 8ms/step - loss: 1.1405 - accuracy: 0.4684
Epoch 7/20
200/200 [==============================] - 2s 8ms/step - loss: 1.1344 - accuracy: 0.4762
Epoch 8/20
200/200 [==============================] - 2s 8ms/step - loss: 1.1401 - accuracy: 0.4761
Epoch 9/20
200/200 [==============================] - 2s 8ms/step - loss: 1.1442 - accuracy: 0.4755
Epoch 10/20
200/200 [==============================] - 1s 7ms/step - loss: 1.1375 - accuracy: 0.4863
Epoch 11/20
200/200 [==============================] - 1s 7ms/step - loss: 1.1291 - accuracy: 0.4816
Epoch 12/20
200/200 [==============================] - 1s 7ms/step - loss: 1.1281 - accuracy: 0.4883
Epoch 13/20
200/200 [==============================] - 1s 7ms/step - loss: 1.1345 - accuracy: 0.4800
Epoch 14/20
200/200 [==============================] - 2s 8ms/step - loss: 1.1294 - accuracy: 0.4855
Epoch 15/20
200/200 [==============================] - 2s 7ms/step - loss: 1.1343 - accuracy: 0.4759
Epoch 16/20
200/200 [==============================] - 1s 7ms/step - loss: 1.1342 - accuracy: 0.4856
Epoch 17/20
200/200 [==============================] - 1s 7ms/step - loss: 1.1338 - accuracy: 0.4791
Epoch 18/20
200/200 [==============================] - 1s 7ms/step - loss: 1.1278 - accuracy: 0.4797
Epoch 19/20
200/200 [==============================] - 1s 7ms/step - loss: 1.1275 - accuracy: 0.4889
Epoch 20/20
200/200 [==============================] - 1s 7ms/step - loss: 1.1313 - accuracy: 0.4845